<template name="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">dCS</a>
    </div>
    <div class="navbar-collapse collapse" id="nav">
      <ul class="nav navbar-nav">
        <li><a href="/labs">Labs</a></li>
        <li><a href="/assignments">Assignments</a></li>
        <li><a href="/house">House</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> login}}
      </ul>
    </div>
  </div>
</template>

<template name="login">
  {{#if currentUser}}
    <ul class="nav navbar-nav">
      <li>
        <a href="#">{{currentUser.profile.fullname}}</a>
      </li>
      <li>
        <a href="#" onclick="Meteor.logout()">Logout</a>
      </li>
    </ul>
  {{else}}
  <form class="navbar-form loginForm" role="form">
    <label style="color: red;">
      {{warnings}}
    </label>
    <div class="form-group">
      <input type="text" placeholder="Username" name="username" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password" name="password" class="form-control">
    </div>
    <input type="submit" value="Sign in" class="btn btn-success">
  </form>
  {{/if}}
</template>