<template name="adminPanel">
  <div class="row">
    <div class="col-md-6">
      <h2>Manage Courses</h2>
      <form id="addCourse">
      <table class="table">
        <thead>
        <tr>
          <td>Course Name</td>
        </tr>
        </thead>
        <tbody>
        {{#each courses}}
          <tr>
            <td>
              <a href="#" class="course" id="{{name}}">{{name}}</a>
            </td>
            <td>
              <a href="#" class="btn btn-link remove" id="{{name}}">&times;</a>
            </td>
          </tr>
        {{/each}}
        <tr>
          <td>
            <input type="text" name="courseName" placeholder="Course Name">
            <input type="submit" class="btn btn-default btn-xs">
          </td>
        </tr>
        </tbody>
      </table>
      </form>
    </div>
    <div class="col-md-6">
      <h1>{{course}}</h1>
      {{#if course}}

        <h3>Current Students</h3>
        <ul style="list-style-type: none;">
          {{#each students}}
            <li style="list-style-type: none;">
              <a href="#" class="btn btn-link del student" id="{{username}}">&times;</a> {{username}}
            </li>
          {{/each}}
        </ul>
        <form id="addStudents">
          <label>
            Add Students
          </label>
          <input type="text" name="students">
          <input class="btn btn-xs btn-default" type="submit">
        </form>
        <h3>Assignments</h3>
        <table class="table">
          <thead>
          <tr>
            <td>Unassigned</td>
            <td>Assigned</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul>
                {{#each unassigned}}
                  <li>{{name}} <button id="{{_id}}" class="btn btn-xs btn-link assign">+</button></li>
                {{/each}}
              </ul>
            </td>
            <td>
              <ol>
                {{#each assigned}}
                  <li>{{name}} <button id="{{_id}}" class="btn btn-xs btn-link unassign">&times;</button></li>
                {{/each}}
              </ol>
            </td>
          </tr>
          </tbody>
        </table>

      {{/if}}
    </div>
  </div>
</template>

<template name="assignments">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      {{#if edit}}
      {{> adminAssignments}}
      {{else}}
        <div class="assignments">
        <ol>
        {{#each assignments}}
          <li><a href="/assignments/{{url}}">{{name}}</a></li>
        {{/each}}
        </ol>
        </div>
      {{/if}}
    </div>
    <div class="col-md-2">
      {{#if isInRole 'admin'}}
        <a class="btn btn-success" href="/assignments/new">New Assignment</a> <br>
        <button class="btn btn-default" id="edit">{{#if edit}}Save Order{{else}}Change Order{{/if}}</button>
      {{/if}}
    </div>
  </div>

</template>

<template name="adminAssignments">
  <div id="items">
    {{#each assignments}}
      <div class="item">
        <a href="/assignments/{{url}}">{{name}}</a>
      </div>
    {{/each}}
  </div>
</template>

<template name="newAssignment">
  <form class="new-assignment">
    <label>
      Name of Assignment
      <input type="text" name="name">
    </label>
    <br>
    <label>
      Levels (separated by comma)
      <input type="text" name="levels">
    </label>
    <br>
    <textarea name="text"></textarea>
    <input type="submit">
  </form>
</template>

<template name="editAssignment">
  <form class="edit-assignment">
    <label>
      Name:
    </label>
    <input type="text" name="name" value="{{name}}" readonly>
    <br>
    <label>
      Levels:
    </label>
    <input type="text" name="levels" value="{{join levels}}">
    <br>
    <div class="row">
      <div class="col-md-6">
        <textarea name="text">{{trim content}}</textarea>
        <input type="submit" class="btn btn-primary">
        <button class="btn btn-danger delete" id="{{_id}}">Delete Assignment</button>
      </div>
      <div class="col-md-6" id="preview">
        {{#markdown}}{{/markdown}}
      </div>
    </div>
  </form>
</template>

<template name="assignment">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{#markdown}}{{content}}{{/markdown}}
    </div>
    <div class="col-md-2">
      {{#if isInRole 'admin'}}
        <a class="btn btn-warning" href="edit/{{url}}">Edit Assignment</a>
      {{/if}}
    </div>
  </div>
</template>
