<template name="assignments">

  <div class="row">
    <div class="col-md-11">
      <table class="table table-hover">
        <tbody>
        {{#each assignments}}
          <tr>
            <td>
              <a href="/assignments/{{url}}">{{name}}</a>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-md-1">
      <a href="/assignments/new">New Assignment</a>
    </div>
  </div>

</template>

<template name="newAssignment">
  <form class="new-assignment">
    <label>
      Name of Assignment
      <input type="text" name="name">
    </label>
    <br>
    <label>
      Levels (separated by comma)
      <input type="text" name="levels">
    </label>
    <br>
    <textarea name="text"></textarea>
    <input type="submit">
  </form>
</template>

<template name="editAssignment">
  <form class="edit-assignment">
    <label>
      Name:
    </label>
    <input type="text" name="name" value="{{name}}" readonly>
    <br>
    <label>
      Levels:
    </label>
    <input type="text" name="levels" value="{{join levels}}">
    <br>
    <textarea name="text">{{trim content}}</textarea>
    <br>
    <input type="submit" class="btn btn-primary">
    <button class="btn btn-danger delete" id="{{_id}}">Delete Assignment</button>

  </form>
</template>

<template name="assignment">
  <a href="edit/{{url}}">Edit Assignment</a>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{#markdown}}{{content}}{{/markdown}}
    </div>
  </div>
</template>
