<template name="adminPanel">
  {{title 'Admin Panel'}}
  <div class="row">
    <div class="col-md-3">
      <h2>Manage Courses</h2>
      <form id="addCourse">
      <table class="table">
        <thead>
        <tr>
          <td>Course Name</td>
        </tr>
        </thead>
        <tbody>
        {{#each courses}}
          <tr>
            <td>
              <a href="#" class="course" id="{{name}}">{{name}}</a>
            </td>
            <td>
              <a href="#" class="btn btn-link remove" id="{{name}}">&times;</a>
            </td>
          </tr>
        {{/each}}
        <tr>
          <td>
            <input type="text" name="courseName" placeholder="Course Name">
            <input type="submit" class="btn btn-default btn-xs">
          </td>
        </tr>
        </tbody>
      </table>
      </form>
    </div>
    <div class="col-md-9">
      <h1>{{course}}</h1>
      {{#if course}}
        <div class="row">
          <h3>Assignments</h3>
          <table class="table">
            <thead>
            <tr>
              <td>Unassigned</td>
              <td>Assigned</td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td width="50%">
                <ul>
                  {{#each unassigned}}
                    <li>{{name}} <button id="{{_id}}" class="btn btn-xs btn-link assign">+</button></li>
                  {{/each}}
                </ul>
              </td>
              <td width="50%">
                <ol>
                  {{#each assigned}}
                    <li>{{name}} <button id="{{_id}}" class="btn btn-xs btn-link unassign">&times;</button></li>
                  {{/each}}
                </ol>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>Feed</h3>
            <form id="feed">
              <textarea name="content" class="feed" maxlength="140"></textarea>
              <br>
              <input type="submit" class="btn btn-default">
            </form>
            <div id="showFeed">
              <table class="table table-striped">
                <tbody>
                {{#each update}}
                <tr><td>{{content}}</td></tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Current Students</h3>
            <ul style="list-style-type: none;">
              {{#each students}}
                <li style="list-style-type: none;">
                  <a href="#" class="btn btn-link del student" id="{{username}}">&times;</a> {{username}}
                </li>
              {{/each}}
            </ul>
            <form id="addStudents">
              <label>
                Add Students
              </label>
              <input type="text" name="students">
              <input class="btn btn-xs btn-default" type="submit">
            </form>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>

<template name="assignments">
  {{title 'Assignments'}}

  {{#if currentUser}}{{else}}
    <h3>Please Log in to See Your Assignments.</h3>
  {{/if}}

  <div class="row">
    <div class="col-md-4">
      <!--TODO: Make feed look better-->
      <h3>Feed</h3>
      <div class="feed">
        {{#if currentUser}}
        {{#each update}}
          <div class="feedHeading">
            <h5><span>{{fullname author}} in {{course}} on {{format date}}</span></h5>
          </div>
          <div class="feedBody">
            <p>{{content}}</p>
          </div>
        {{/each}}
        {{/if}}
      </div>
    </div>
    <div class="col-md-4">
      <h3>Assignments</h3>
      <div class="assignments">
      <ol>
      {{#each assignments}}
        <li><a href="/assignments/{{url}}">{{name}}</a></li>
      {{/each}}
      </ol>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  {{#if isInRole 'admin'}}
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <a class="btn btn-success" href="/assignments/new">New Assignment</a>
        <a class="btn btn-danger" href="/assignments/admin">Manage Courses</a>
      </div>
    </div>
  {{/if}}

</template>

<template name="newAssignment">
  {{title 'New Assignment'}}
  {{> assignmentEditor oldDoc=false}}
</template>

<template name="editAssignment">
  {{title 'Edit Assignment'}}
  {{> assignmentEditor oldDoc=true name=name gradeBreakdown=gradeBreakdown content=content}}
</template>

<template name="assignmentEditor">
  {{title t}}
  <div class="row">
    <div class="col-md-6">
      <form class="editor">
        <label>
          Name:
        </label>
        {{#if oldDoc}}
          <input type="text" name="name" value="{{name}}" readonly>
        {{else}}
          <input type="text" name="name">
        {{/if}}
        <br>
        <label>Starting %</label>
        <input type="number" name="startingPoints" min="0" max="100" value="{{#if oldDoc}}{{gradeBreakdown.points}}{{/if}}">
        <br>
        <textarea class="mkdn" name="text">{{#if oldDoc}}{{content}}{{/if}}</textarea>
        <input type="submit" class="btn btn-primary">
      </form>
    </div>
    <div class="col-md-5">
      {{#if oldDoc}}
        <button class="btn btn-danger delete" id="{{_id}}">Delete Assignment</button>
      {{/if}}
      <!--Upload photo assets for the assignment-->
      {{> upload_s3 directory="assets" }}
      <hr>
      <h4>Uploaded images:</h4>
      <ul>
        {{#each files}}
          <li><code style="font-size: 9px">{{url}}</code></li>
        {{/each}}
      </ul>

    </div>
  </div>
</template>

<template name="assignment">
  <style>
    img {
      width: 100%;
    }
  </style>
  {{title name}}
  {{#if isOld}}
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning">
          You're currently viewing an older version of this entry.
          <button style="" class="btn btn-danger restore">Restore.</button>
        </div>
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {{#markdown}}{{getContent history}}{{/markdown}}
    </div>
    <div class="col-md-2">
      {{#if isInRole 'admin'}}
        <a class="btn btn-warning" href="{{url}}/edit">Edit Assignment</a>
        <a class="btn btn-success" href="{{url}}/submissions">View Submissions</a>

        <h3>History</h3>
        <select class="history">
          {{#each history}}
            <option value="{{indx}}">{{dateFormat date}}</option>
          {{/each}}
        </select>
      {{/if}}
      <!--TODO: iterate through all assignment submissions and display-->

    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-md-8 col-md-offset-2 assignment_submission">
      {{#if currentUser}}
         <h3>Submit Assignment Here</h3>
        {{> upload_s3 directory="assignments" assignment_id=_id}}
      {{/if}}
    </div>
  </div>
</template>

<template name="upload_s3">
  <input type="file" class="file_bag">
  <button class="upload">Upload</button>
  {{#each files}}
    <p>{{percent_uploaded}}</p>
  {{/each}}
</template>

<template name="assignmentSubmissions">
  <div class="row">
    <div class="col-md-3">
      <h3>Submissions Recieved</h3>
      <ul>
        {{#each submission}}
          <li><button class="btn btn-link student" id="{{user}}">{{userInfo user 'fullname'}}</button></li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-9">
      {{#if submissionInfo}}
        <h3>Submission from {{userInfo submissionInfo.user 'fullname'}}</h3>
        File path: <a href="{{mostRecentSubmission.url}}">{{mostRecentSubmission.url}}</a>
        Timestamp: {{mostRecentSubmission.timestamp}}

        <form id="grading">
          <label>Percent</label><br>
          <input type="number" readonly value="{{score}}" min="0" max="100" name="percent">% <br>
          <label>Comments</label><br>
          <textarea class="mkdn" name="comments" id="comments">{{submissionInfo.grade.comments}}</textarea><br>
          <input type="submit" class="btn btn-default">
        </form>

      {{/if}}
    </div>
  </div>
</template>